In [145]:
# variables for all notebooks
import variables

import xgboost as xgb
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [146]:
# Cria engine para conectar ao MySQL 
engine = create_engine('mysql+mysqlconnector://root:teste@localhost:3306/memphis2023')
connection = engine.connect()

In [147]:
def update_neighbors(df_aux):
    
    df_filled = df_aux.copy()
   
    # Definindo os índices das vizinhanças que queremos preencher
    neighborhood = [(i, j) for i in range(-1, 2) for j in range(-1, 2) if (i, j) != (0, 0)]
    fields = ['temp_day-1_0_0', 'temp_day-1_0_1', 'temp_day-1_0_2', 'temp_day-1_1_0', 'temp_day-1_1_2', 'temp_day-1_2_0', 'temp_day-1_2_1', 'temp_day-1_2_2']

    # Iterando sobre os registros do DataFrame original
    for index, row in df_filled.iterrows():
        x = index[0]
        y = index[1]
        default = 90 # value of no fire
        # print(x, y, default)
        for i in range(len(neighborhood)):
            new_x, new_y = neighborhood[i][0] + x, neighborhood[i][1] + y
            # print(new_x, new_y)

            # Verificando se os índices vizinhos estão dentro dos limites do DataFrame
            field = fields[i]
            if 0 <= new_x < 30 and 0 <= new_y < 30:
                value = df_filled.loc[(new_x, new_y), 'temperature']
                df_filled.loc[(x, y), field] = value
            else:
                df_filled.loc[(x, y), field] = default
   
    return df_filled

In [148]:
# Column list
cols = ['geospatial_x', 'geospatial_y', 'temperature', 
        'temp_day-1_0_0', 'temp_day-1_0_1', 'temp_day-1_0_2',
        'temp_day-1_1_0', 'temp_day-1_1_2',
        'temp_day-1_2_0', 'temp_day-1_2_1', 'temp_day-1_2_2',
        'alarm']
df_base = pd.DataFrame(columns=cols)

# Create matrix  x and y        
x = np.arange(0, 30)
y = np.arange(0, 30)
coords = pd.MultiIndex.from_product([x, y])

# Create dataframe and fill with NaN
# Extrair níveis do MultiIndex em colunas separadas
df_base['geospatial_x'] = coords.get_level_values(0)
df_base['geospatial_y'] = coords.get_level_values(1)

# Definir MultiIndex como índice do DataFrame
df_base.set_index(['geospatial_x', 'geospatial_y'], inplace=True)

df = df_base.copy()

In [149]:
# read new day's sensors
query = text("SELECT * FROM memphis2023.sensors where day = :day")
# df_sensors = pd.read_sql(query, engine, ad=actual_day)
parameters = {"day": variables.DAY_BASE + 1}
df_sensors = connection.execute(query, parameters).fetchall()
# update df_base with the new sensors of the date -1 (actual)
for one_sensor in df_sensors:
    day = one_sensor[0]
    x = one_sensor[1]
    y = one_sensor[2]
    temperature = one_sensor[3]
    # print(x, y, temperature)
    idx = (x, y)
    df.loc[idx, 'temperature'] = temperature

In [150]:
# get the average temperature 
average = df["temperature"].mean()
print(average)

# update df_sensors with the neighbors
df = update_neighbors(df)

97.21444444444444

In [151]:
features = ['geospatial_x', 'geospatial_y', 'temperature', 
        'temp_day-1_0_0', 'temp_day-1_0_1', 'temp_day-1_0_2',
        'temp_day-1_1_0', 'temp_day-1_1_2',
        'temp_day-1_2_0', 'temp_day-1_2_1', 'temp_day-1_2_2']

In [152]:

df = df.reset_index()
df = df[features]
# convert fields to int
df[features] = df[features].astype(int)

In [153]:
# loading the modelo
loaded_model = xgb.XGBClassifier()
loaded_model.load_model('xgb_model.bin')

In [154]:
df.head()

,geospatial_x,geospatial_y,temperature,temp_day-1_0_0,temp_day-1_0_1,temp_day-1_0_2,temp_day-1_1_0,temp_day-1_1_2,temp_day-1_2_0,temp_day-1_2_1,temp_day-1_2_2
0,0,0,90,90,90,90,90,106,90,93,99
1,0,1,106,90,90,90,90,111,93,99,93
2,0,2,111,90,90,90,106,91,99,93,104
3,0,3,91,90,90,90,111,103,93,104,90
4,0,4,103,90,90,90,91,90,104,90,93

In [155]:
# Obter as probabilidades das previsões para a classe positiva (1)
y_prob = loaded_model.predict_proba(df)[:, 1]

In [156]:
# Definir o valor de corte personalizado para a classificação
valor_corte = 0.45 # Escolha um valor de corte adequado

In [157]:
# Transformar as probabilidades em rótulos discretos com base no valor de corte
y_pred = (y_prob >= valor_corte).astype(int)

In [158]:
# do predictions
# y_pred = loaded_model.predict(df)

In [159]:
print(y_pred)

[0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0]

In [160]:
matrix = y_pred.reshape(30, 30)

In [161]:
# Encontrar índices onde matriz == 1
list_predict = []
idx = np.where(matrix == 1)

print('ALERTS TO BE SENT')
# Imprimir coordenadas 
for i, j in zip(idx[0], idx[1]):
    print(f'Coordinate: ({i}, {j})')
    list_predict.append((i,j))

ALERTS TO BE SENT
Coordinate: (0, 13)
Coordinate: (0, 16)
Coordinate: (1, 23)
Coordinate: (5, 3)
Coordinate: (5, 18)
Coordinate: (5, 21)
Coordinate: (6, 23)
Coordinate: (7, 21)
Coordinate: (9, 15)
Coordinate: (10, 1)
Coordinate: (10, 23)
Coordinate: (11, 0)
Coordinate: (12, 17)
Coordinate: (12, 20)
Coordinate: (14, 11)
Coordinate: (14, 12)
Coordinate: (15, 13)
Coordinate: (16, 10)
Coordinate: (16, 21)
Coordinate: (16, 23)
Coordinate: (18, 16)
Coordinate: (18, 18)
Coordinate: (19, 21)
Coordinate: (20, 13)
Coordinate: (21, 17)
Coordinate: (21, 21)
Coordinate: (29, 19)

In [162]:
# read alarms of that day
query = text("SELECT distinct geospatial_x, geospatial_y, event_day FROM alerts where event_day = :day group by geospatial_x, geospatial_y, event_day order by geospatial_x, geospatial_y, event_day ")
parameters = {"day": variables.DAY_BASE + 1}
results = connection.execute(query, parameters).fetchall()
df_alerts =  pd.DataFrame(results, columns=['geospatial_x', 'geospatial_y', 'event_day'])
df_alerts.head(50)

   geospatial_x  geospatial_y  event_day
0            15            13       2306
1            16            21       2306
2            21            14       2306
3            24            27       2306

In [163]:
list_official = []
for index, row in df_alerts.iterrows():
    x = row['geospatial_x']
    y = row['geospatial_y']
    list_official.append((x,y))

In [164]:
# Criar conjuntos a partir das listas
set_predict = set(list_predict)
set_official = set(list_official)

# Elementos iguais
elements_in_both_lists = set_predict.intersection(set_official)
print("Both lists:")
for element in elements_in_both_lists:
    print(element)

Both lists:
(16, 21)
(15, 13)

In [165]:
# Elementos presentes apenas na lista_predict
elements_only_in_predict = set_predict.difference(set_official)
print("\nOnly predict (does not appears at official):")
for element in elements_only_in_predict:
    print(element)

Only predict (does not appears at official):
(5, 21)
(0, 16)
(0, 13)
(10, 23)
(1, 23)
(18, 18)
(7, 21)
(19, 21)
(21, 17)
(14, 11)
(12, 17)
(16, 10)
(12, 20)
(11, 0)
(18, 16)
(5, 3)
(20, 13)
(10, 1)
(29, 19)
(6, 23)
(9, 15)
(21, 21)
(14, 12)
(5, 18)
(16, 23)

In [166]:
# Elementos presentes apenas na lista_official
elements_only_in_official = set_official.difference(set_predict)
print("\nOfficial and not predict:")
for element in elements_only_in_official:
    print(element)

Official and not predict:
(21, 14)
(24, 27)

In [167]:
df.set_index(['geospatial_x', 'geospatial_y'], inplace=True)
print(df.loc[(2,10), 'temperature'])

107

In [168]:
df.loc[(4,10)]

temperature        98
temp_day-1_0_0    100
temp_day-1_0_1    101
temp_day-1_0_2    107
temp_day-1_1_0     91
temp_day-1_1_2     93
temp_day-1_2_0    101
temp_day-1_2_1    101
temp_day-1_2_2     91
Name: (4, 10), dtype: int32